html {
  background-color: black;
  color: white;
  text-align: center;
  font-family: verdana, sans-serif;
}

/*color palette
blue: #69cccff
red: red
brown: #dead69
end color palette*/

/*general*/
h2 {
  background-color: white;
  color: black;
  font-size: 28;
  padding: 8px;
}

h3 {
  background-color: white;
  color: black;
  font-size: 24;
  padding: 8px;
}

h4 {
  color: red;
  font-size: 20;
}

button {
  border: 2px solid white;
  background-color: black;
  color: #f2f2f2;
  padding: 8px;
}

button:hover {
  background-color: white;
  color: red;
  transition-duration: 0.4s;
  cursor: pointer;
}
/*end general*/

/*topnav*/
.topnav {
  background-color: black;
  border: 1px solid white;
  overflow: hidden;
  width: 88%;
  margin: auto;
}

.topnav a {
  display: block;
  float: left;
  font-family: verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #f2f2f2;
  padding: 12px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.topnav a:hover {
  background-color: white;
  color: red;
  transition-duration: 0.4;
}

.topnav a.active {
  background-color: red;
  color: white;
}

@media screen and (max-width: 770px) {
  .topnav a {
    display: block;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%;
}

.sticky + .ADSFJGDSKFJGHSDKLFG {/*idk what this is it's copy and pasted*/
   padding-top: 60px;
}
/*end topnav*/

/*dropdown buttons*/
.dropbutton {

  border: 2px solid white;
  background-color: black;
  color: #f2f2f2;
  padding: 8px;
  font-family: verdana, sans-serif;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

.dropbutton:hover, .dropbutton:focus {
  background-color: white;
  color: red;
  transition-duration: 0.4s;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  max-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  font-family: verdana, sans-serif;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  border: none;
  background-color: red;
  color: #f2f2f2;
  width: 100px;
  margin: 2px;
}

.dropdown-content a:hover {
  background-color: white;
  color: red;
}

.show {
  display: block;
}
/*end dropdown buttons*/

.header-to-footer {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 12px;
}

/*left nav*/
.side-left {
  flex: 20%;
  margin-right: 8px;
  padding: 8px;
}

.left-nav-links {
  margin: 8px;
}

.inpage-link {
  color: white;
  text-decoration: none;
  float: left;
  padding: 8px;
  margin: 8px;
  border: 2px solid white;
  width: 100%;
}

.inpage-link:hover {
  background-color: white;
  color: red;
}
/*end left nav*/

/*resume*/
#resume {
  margin: 8px;
}

#resume-content {
  margin: 8px;
  display: flex;
}

#resume-content p {
  margin: 8px;
  margin-left: 10%;
  width: 80%;
  float: right;
  text-align: justify;
}

#resume-button {
  margin: 8px;
  margin-right: 10%;
  text-align: center;
  width: 20%;
}

#resume-button button {
  float: left;
}
/*end resume*/








/*   M A I N   */
.main {
  flex: 80%;
  min-height: 80vh;
  padding: 5%;
}
/*   END   M A I N   */

/*gallery*/
* {
  box-sizing: border-box;
}

.gallery {
  margin: 8px;
}

.gallery-grid {
  margin: 8px;
}

.gallery-grid:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-grid,
.galllery-grid > .gallery-box {
  padding-left: 8px;
  padding-right: 8px;
}

.gallery-box {
  display: inline-table;
  border: 1px dashed white;
  width: 25%;
  min-width: 200px;
  margin: 8px;
}

.gallery-box img {
  min-width: 180px;
  padding: 8px;
  margin: 8px;
}

.gallery-box h4 {
  display: inline-block;
  width: 90%;
  padding: 8px;
  margin: 8px;
}

.gallery-box p {
  display: inline-block;
  width: 90%;
  padding: 8px;
  margin: 8px;
  min-height: 160px;
  text-align: left;
  font-family: georgia, serif;
}

.gallery-box a {
  display: inline-block;
  font-family: verdana, sans-serif;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  min-width: 150px;
  width: 90%;
  padding: 8px;
  margin: 8px;
}

.gallery-box a:hover {
  background-color: white;
  color: red;
  transition-duration: 0.4s;
}

/*end gallery*/










/*content*/
.content {
  margin: 8px;
}

.content-section {
  margin: 8px;
}

.content-list a {
  display: inline-block;
  width: 98%;
  padding: 8px;
  margin: 8px;
}

.content-list li {
  padding: 8px;
  margin: 8px;
}
/*end content*/







/*blog*/
.blog {
  margin: 8px;
}

.blog-post {
  margin: 8px;
  text-align: left;
}
/*end blog*/


/*footer*/
.footer {
  background-color: #f2f2f2;
  width: 100%;
  padding: 8px;
  color: black;
}

.footer h3 {
  color: black;
  background-color: #f2f2f2;
}
/*end footer*/
